.EmptyList {
  text-align: center;
  color: var(--color-gray);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
  margin-top: var(--default-padding);

  &__img {
    height: 30rem;
    filter: grayscale(1);
    opacity: .5;
  }
}