.Logo {
  font-size: var(--font-size-xLarge);
  font-weight: var(--font-weight-light);
  text-align: center;
  margin-top: calc(var(--default-padding) * 2);
  margin-bottom: calc(var(--default-padding) * 2);
}