.TaskSearchBar {
  display: flex;
  box-shadow: 0 .6rem .8rem rgba(85, 102, 119, .03), 0 .1rem .1rem rgba(85, 102, 119, .4);
  height: 6.4rem;
  cursor: text;
  border-radius: .3rem;
  overflow: hidden;

  &__input {
    padding: var(--default-padding);
    background-color: var(--color-input);
    border: 0;
    flex: 1 1 auto;
    color: var(--color-text);
    min-width: 4.8rem;
    font-family: var(--font-family-ar);
    font-size: var(--font-size-large);
    transition: background-color var(--timing-animation);
  }

  ::placeholder {
    color: var(--color-gray);
    opacity: 1;
  }

  &__button {
    background-color: var(--color-blue);
    border: 0;
    color: var(--color-white);
    font-family: var(--font-family-ar);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    padding: 0 calc(var(--default-padding) * 1.5);
    transition: background-color var(--timing-animation);

    &:hover {
      background-color: #099df8;
    }
  }
}